<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- HMS specific configurations -->
    <application>
        <!-- Enable HMS Push Service -->
        <service
            android:name=".hms.HmsPushService"
            android:exported="false"
            tools:node="merge">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Disable FCM Service -->
        <service
            android:name=".gms.FcmService"
            android:exported="false"
            tools:node="remove" />

        <!-- HMS configurations -->
        <meta-data
            android:name="push_kit_auto_init_enabled"
            android:value="true" />

        <meta-data
            android:name="push_kit_notification_icon"
            android:resource="@drawable/ic_notification" />
    </application>
</manifest>
